:root {
    --text-color-main: #212121;
    --text-color-secondary:#757575;
    --text-color-accent: #2196F3;
    --text-color-accent2: #ffffff;
    --text-color-footer: rgba(255, 255, 255, 0.6);
    --background-color-main: #ffffff;
    --background-color-secondary: #F5F4FA;
    --background-color-accent: #2196F3;
    --background-color-accent2: #2F303A;
    --background-color-transparent1: rgba(47, 48, 58, 0.8);
    --background-color-transparent2: rgba(33, 150, 243, 0.9);
    --background-color-footer: #2F303A;
    --link-color-inactive: #AFB1B8;
    --link-color-active: #2196F3;
    --nav-underline: #ECECEC;
    --cards-line: #EEEEEE;
}

/*Page main (body) font and color styling*/
.page {
    background-color: var(--background-color-main);
    font-family: 'Roboto', sans-serif;
}

.site-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*Navbar (header)styling */

.container {
    background-color: var(--background-color-main);
}

.header-container {
    max-width: 1600px;

    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.container.underline {
    border-bottom: 1px solid var(--nav-underline);
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-logo.main .logo-part1 {
    color: var(--text-color-accent);
}

.site-logo.main .logo-part2 {
    color: var(--text-color-main);
}

.site-nav {
    display: flex;
    margin-left: 85px;
}

/*всем элементам списка, кроме последнего
равен этому выражению  .site-nav .item:not(:last-child) {}
(применить к всем который следует за .item - первый ел-т в списке)
*/
.site-nav .item + .item {
    margin-left: 50px;
}

.site-nav .link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    height: 80px;

    color: var(--text-color-main);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
}

.site-nav .link.current-studio {
    display: flex;
    color: var(--text-color-accent);
}

.site-nav .link.current-portfolio {
    display: flex;
    color: var(--text-color-accent);
}

.site-nav .link.current-studio::after {
    position: absolute;
    bottom: 0;
    width: 48px;
    height: 4px;

    display: inline-block;
   
    content:'';
    background-image: url(../images/nav-studio.svg);
}

.site-nav .link.current-portfolio::after {
    position: absolute;
    bottom: 0;
    width: 77px;
    height: 4px;

    display: inline-block;
   
    content:'';
    background-image: url(../images/nav-portfolio.svg);
}

.site-contacts {
    display: inline-flex;
    align-items: center;
    margin-left: 305px;
}

.site-contacts .item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.site-contacts .link {
    color: var(--text-color-secondary);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.02em
}

.site-contacts .item + .item{
    padding-left: 30px;
}

.site-contacts .item .link + .link {
    padding-left: 10px;
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-contacts .link:hover,
.site-contacts .link:focus {
    color: var( --text-color-accent);
}

.button-icon {
    fill: var(--text-color-secondary);
    margin-right: 10px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-contacts .item:hover .button-icon {
    fill: var(--text-color-accent);
}

.site-contacts .item:hover .link {
    color: var(--text-color-accent);
}

/*Section "Hero" styling*/
.hero {
    background: var(--background-color-transparent1);
}

.hero-container {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/hero-opt.jpg);
}

.hero-section {
    padding-top: 200px;
    padding-bottom: 200px;
    padding-right: 15px;
    padding-left: 15px;
    
    background-color: var(--background-color-transparent);
    text-align: center;
}

.hero-title {
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    
    color: var(--text-color-accent2);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button {
    display:inline-block;
    width: 200px;
    height: 50px;
    padding: 10px 30px;

    border: 1px solid transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--text-color-accent2);
    background-color: var(--background-color-accent);
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    border-radius: 4px;
}

/*Section "Advantages" styling*/
.advantages-container {
    max-width: 1600px;
    margin-left:auto;
    margin-right: auto;
}

.advantages-section {
    padding-top: 94px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left:auto;
    margin-right: auto;
}
.advantages-list {
    display: flex; 
    justify-content: center;
}

.advantages-item {
    width: 270px;
    align-items: center;
}

.advantages-list .advantages-item + .advantages-item {
    margin-left: 30px;
}

.advantages-item::before {
    display: block;
    content:'';
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--background-color-secondary);
    background-repeat: no-repeat;
    background-position: center;
}

.advantages-item.icon-antenna::before {
    background-image: url(../images/advan-antenna1.png);
}

.advantages-item.icon-clock::before {
    background-image: url(../images/advan-clock1.png);
}

.advantages-item.icon-diagram::before {
    background-image: url(../images/advan-diagram1.png);
}

.advantages-item.icon-astro::before {
    background-image: url(../images/advan-astronaut1.png);
}

.advantages-subtitle {
    display: inline-block;
    width: 270px;
    margin-bottom: 10px;

    color: var(--text-color-main);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.advantages-text {
    width: 270px;

    color: var(--text-color-secondary);
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
}

/*Section "Our Ptojects"*/
.projects-container {
    max-width: 1600px;
    margin-left:auto;
    margin-right: auto;
}

.projects-section {
    padding-top: 94px;
    padding-bottom: 94px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left:auto;
    margin-right: auto;
}

.projects-list {
    display: flex;
    justify-content: center;
}

.project-item {
    display: inline-block;

    width: 370px;
    height: 294px;
}

.projects-list .project-item + .project-item {
    margin-left: 30px;
}

.project-image {
    display: block;
}

.project-link {
    display: inline-block;
    min-width: 370px;
    height: 70px;
    padding: 27px 82px;

    color: var(--text-color-accent2);
    background-color:var(--background-color-transparent1);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
}

.project-thumb {
    position: relative;
}

.overlink {
    position: absolute;
    bottom: 0;
}

/*Headers styling for "Our Ptojects","Our team", "Our Clients" */
.section-title {
    margin-top: 0;
    margin-bottom: 50px;

    color: var(--text-color-main);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

/*Section "Team" styling*/
.team {
    background-color: var(--background-color-secondary);
}

.team-container {
    max-width: 1600px;
    margin-left:auto;
    margin-right: auto;
}

.team-section {
    padding-top: 94px;
    padding-bottom: 94px;
    padding-left: 15px;
    padding-right: 15px;
}

.team-list {
    display: flex;
    justify-content: center;
}

.team-item {
    padding-bottom: 24px;

    text-align: center;
    background-color: var(--background-color-main);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
                0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 2px 1px rgba(0, 0, 0, 0.2);

}
.team-list .team-item + .team-item {
    margin-left: 30px;
}

.team-member-photo {
    display: block;
    margin-bottom: 30px;
}

.team-member-title {
    margin-bottom: 10px;
    color:var(--text-color-main);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    letter-spacing: 0.03em;
}

.team-department {
    margin-top: 0;
    margin-bottom: 16px;

    color:var(--text-color-secondary);
    font-weight: normal;
    font-size: 16px;   
    line-height: 1.188;
    letter-spacing: 0.03em;
}
.social-list {
    display: flex;
    justify-content: center;
}

.social-list .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: 1px transparent;
    border-radius: 22px;

    font-weight: 500;
    color: var(--link-color-inactive);
}

.social-list .social-list-item + .social-list-item {
    margin-left: 10px;
}

.social-button-person {
    box-sizing: content-box;
    padding: 4px 4px;

    fill: var(--link-color-inactive);
}

.social-link-person:hover,
.social-link-person:focus,
.social-button-person:hover,
.social-button-person:focus {
    background-color: var(--background-color-accent);
    fill: var(--text-color-accent2);
}

/*Section "Clients" styling*/
.clients-container {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.clients {
    padding-top: 94px;
    padding-bottom: 94px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.company-list {
    display: flex;
    justify-content: center;
}

.company-item {
    display: flex;
    justify-content: center;
    width: 170px;
    height: 90px;

    border: 1px solid var(--link-color-inactive);
    border-radius: 4px; 
}

.company-item + .company-item {
    margin-left: 30px;
}

.company-list .link {
    display: flex;
    align-items: center;
}

.company-logo {
    box-sizing: content-box;
    fill: var(--link-color-inactive); 
}

.logo1 {
    padding: 20px 63px;
}

.logo2 {
    padding: 24px 65px;
}

.logo3 {
    padding: 24px 65px;
}

.logo4 {
    padding: 24px 45px;
}

.logo5 {
    padding: 21px 55px;
}

.logo6 {
    padding: 22px 40px;
}

.company-logo:hover,
.company-logo:focus,
.company-item:hover, 
.company-item:hover {
    fill: var(--link-color-active);
    border-color: var(--link-color-active);
}

/*Footer styling*/
.footer {
    background-color: var(--background-color-footer);
}

.footer-container {
    max-width: 1600px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section-footer {
    display: flex;

    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

/*Logo + Address block*/

.section-address {
    display: inline-block;
    
    width: 231px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.section-address .link {
    display: block;

    font-size: 14px;
    line-height: 1.72;
    letter-spacing: 0.03em;
    color: var(--text-color-footer);
}

.logo.footer.link{
    display: block;
    margin-bottom: 20px;
}

.site-logo.secondary .logo-part1 {
    color:var(--link-color-active);
}
    
.site-logo.secondary .logo-part2 {
    color: var(--text-color-accent2);
}

.address-text {
    margin-top: 0;
    margin-bottom: 9px;
    
    color: var(--text-color-accent2);
    font-style: normal;
    font-size: 14px;
    line-height: 1.72;
    letter-spacing: 0.03em;
}

.contacts .link {
    display: inline-block;
    font-style: normal;
}

.contacts .mail {
    margin-bottom: 9px;
}

/*Join block*/

.section-join {
    display: inline-block;
    
    width: 206px;
    padding-top: 72px;
    padding-bottom: 100px;
    margin-left: 70px;
}

.join-text, 
.signup-text {
    margin-top:0;
    margin-bottom: 20px;
    padding: 0;

    color: var(--text-color-accent2);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.social-button {
    fill: var(--text-color-accent2);
}

.social-link-footer {
    background-color: rgba(255, 255, 255, 0.1);
}
.social-link-footer:hover {
    background-color: var(--background-color-accent)
}

.section-subscribe {
    display: inline-block;

    max-width: 575px;
    height: 86px;
    padding-top: 72px;
    padding-bottom: 94px;
    margin-left: auto;
}

.input-mail {
    width: 358px ;
    height: 50px;
    padding: 15px 16px;

    color: var(--text-color-accent2);
    background-color: var(--background-color-footer) ;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.button.subscribe {
    display: inline-flex;
    margin-left: 12px;
    padding: 10px 27px;
}

.button.subscribe::after {
    display: inline-block;
    
    content: "";
    width: 24px;
    height: 24px;
    margin-left: 10px;
    background: url(../images/icon-send.svg);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
}
/*Modal form*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 528px;
    height: 581px;
    padding: 40px;

    background-color: var(--background-color-main);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.btn-close {
    position: absolute;
    top: 8px;
    right: 8px;

    border: 0;
    padding: 0;
    
    background-color: var(--background-color-main);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.btn-close:hover .icon-close,
.btn-close:focus .icon-close {
    fill: var(--link-color-active);
}

.form-title {
    width: 448px;
    margin-bottom: 12px;

    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color-main);
}

.input-field {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 448px;
}

.label {
    display: inline-block;

    margin-bottom: 4px;

    color: var(--text-color-secondary);

    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
}

.input {
    height: 40px;
   
    padding-left: 42px;
    scroll-padding-right: 15px;
    margin-bottom: 10px;
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;

    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
}

.input-icon {
    position: absolute;
    top: 57%;
    left: 15px;

    display: inline-block;

    transform: translateY(-50%);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.input-field:hover .input,
.input-field:focus .input {
    border: 1px solid var(--text-color-accent);
}

.input-field:hover .field-icon,
.input-field:focus .field-icon {
    fill: var(--background-color-accent);
}


.input-field .textarea {
    margin-bottom: 25px;
}

.textarea {
    resize: none;

    width: 448px;
    height: 120px;
    padding: 12px 16px;
}

.textarea::placeholder {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}

.input-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    height: 24px;
    margin-bottom: 30px;
}

.input-checkbox .input {
    display: inline-flex;
    
    height: 16px;
    width: 15px;
    padding: 0;
    margin: 0;

    background-color: var(--text-color-main);
}

.input-checkbox .label {
    position: relative;

    display: block;

    padding-left: 24.4px;
    

    font-weight: normal;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.03em;
}

.checkbox {
    -webkit-appearance: none;  
}

.agreement-link {
    color: var(--text-color-accent);
}

.check-icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    justify-content: center;
    align-items: center;
   
    content: '';
    width: 16px;
    height: 15px;

    border: 1.5px solid var(--text-color-main);
    border-radius: 2px;
}

.checkbox:checked + .check-icon {
    background-color: var(--text-color-accent);
    border: 1.5px transparent var(--text-color-main);
}

.cheked-icon {
    display: block;
}

.button.form {
    margin-left: auto;
    margin-right: auto;
}

/*Portfolio page styling*/
/*Portfolio navigation*/

.portfolio-nav {
    max-width: 1600px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.portfolio-sort {
   
    padding-top: 94px;
    margin-right: auto;
    margin-left: auto;
}

.portfolio-nav-list {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;

    text-align: center;   
}

.nav-button {
    display: inline-block;
    padding: 5px 22px ;
    border: 1px solid transparent;
    border-radius: 4px;
    
    color: var(--text-color-main);
    background-color: var(--background-color-secondary);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
}
.portfolio-nav .portfolio-nav-item + .portfolio-nav-item {
    margin-left: 8px;
}

.nav-button:hover,
.nav-button:focus {
    background-color: var(--background-color-accent);
    color: var(--text-color-accent2);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
                0px 1px 2px rgba(0, 0, 0, 0.08), 
                0px 2px 2px rgba(0, 0, 0, 0.12);
}

.nav-button.current {
    color: var(--text-color-accent2);
    background-color: var(--background-color-accent);
}

/*Portfolio items container*/
.portfolio {
    display: flex;
    max-width: 1600px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.portfolio-container { 
    padding-bottom: 94px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-item {
    display: flex;
    margin-bottom: 30px;
    margin-bottom: 30px;
    margin-right: 30px;

    border: 1px solid var(--cards-line);
}

/*к каждому 3му ел-ту*/
.portfolio-item:nth-child(3n) {
    margin-right: 0;
}
/*к 3 последним ел-там*/
.portfolio-item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

/*альтернативный способ на основе calc
width: calc ((100% - 60px) / 3 ;
margin-right: 30px;
formula
calc((100% - (N of margin in row)*margin) / N of elements in row */

.portfolio-image {
   
}

.portfolio-title {
    min-width: 322px;
    padding-right: 24px;
    padding-left: 24px;
    margin-top: 20px;
    margin-bottom: 4px;

    color: var(--text-color-main);
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-type {
    min-width: 322px;
    padding-right: 24px;
    padding-left: 24px;
    margin-top: 0;
    margin-bottom: 20px;

    color: var(--text-color-secondary);
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
}

.portfolio-text {
    margin: 0;

    color: var(--text-color-accent2);
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
}

.image-thumb {
    position: relative;
    overflow: hidden;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    padding: 63px 24px;
    background-color: var(--background-color-transparent2);

    transform: translateY(100%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .overlay {
    transform: translateY(0)

}   
.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
                0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
}